.Rproj.user/A4355878/rmd-outputs
.Rproj.user/A4355878/saved_source_markers
.Rproj.user/A4355878/pcs/files-pane.pper
.Rproj.user/A4355878/pcs/source-pane.pper
.Rproj.user/A4355878/pcs/windowlayoutstate.pper
.Rproj.user/A4355878/pcs/workbench-pane.pper
.Rproj.user/A4355878/sources/s-87FA1786/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user
